<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="../static/styles/booking.css">
</head>

<body>
    <div class="navbar">
        <div class="logo">
            <h1>
                <a href="index.html">Rolsa Technology</a>
            </h1>
        </div>
        <div class="links">
            <a href="">Calculator</a>
            <a href="">Products</a>
            <a href="booking.html">Bookings</a>
            <a href="">About</a>
            <a href=""><img src="{{url_for('static/images', filename='')}}" alt="Profile Icon"></a>
        </div>

    </div>


    <div class="booking-about">
        <h1>Book a Consultation</h1>

        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt placeat eum facere error provident
            veritatis, rerum vitae consectetur odit magnam dignissimos, cum culpa in sapiente. Aliquam ratione
            voluptatem perspiciatis reprehenderit.
        </p>
    </div>

    <div class="booking-form">

        <form action="" method="POST">
            <h3>Contact Details</h3>
            <div class="form-section-a">
                <div>
                    <label for="name">Name</label>
                    <input type="text" maxlength="50" required>
                </div>
                <div>
                    <label for="email">Email</label>
                    <input type="email" required placeholder="Email@domain.com">
                </div>
            </div>

            <div class="form-section-b">
                <div>
                    <label for="code">+</label>
                    <input type="number" max="99" min="0" name="code" placeholder="44">
                </div>

                <div>
                    <label for="phone">Phone</label>
                    <br>
                    <input type="tel" required placeholder="0164 570 006">
                </div>
            </div>

            <h3>Booking Details</h3>
            <div class="form-section-c">
                <div>
                    <label for="date">Booking Date</label>
                    <br>
                    <input type="date" name="date">
                </div>

                <br>

                <div>
                    <label for="time">Booking Time</label>
                    <br>
                    <input type="time" name="time">
                </div>
            </div>

            <br>

            <button>Book</button>
        </form>

    </div>



    <div class="footer">
        <div>
            <h1>Rolsa Technology</h1>
        </div>

        <div class="divider"></div>

        <div>
            <p>Phone: +44 20 7947 6330</p>
            <p>Email: emailBusiness@Domain.com</p>
            <p>Post: Address</p>
            <div>
                <p>Socials</p>
                <!-- Add Social Icons  -->
                <a href=""><img src="" alt="Twitter Icon"></a>
                <a href=""><img src="" alt="Instagram Icon"></a>
                <a href=""><img src="" alt="Facebook Icon"></a>
            </div>
        </div>
    </div>
</body>

</html>