<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!-- Temporary - Use Jninja when backend is implemented when running through Python flask -->
    <link rel="stylesheet" href="../static/styles/index.css">
</head>

<body>

    <div class="navbar">
        <div class="logo">
            <h1>
                <!-- Will lead to home page -->
                <a href="index.html">Rolsa Technology</a>
            </h1>
        </div>
        <div class="links">
            <a href="">Calculator</a>
            <a href="">Products</a>
            <a href="">Bookings</a>
            <a href="">About</a>
        </div>
        <!-- Add user icon to navigate to profile -->
        <a href="">ACC</a>
    </div>

    <div class="hero">
        <div class="title">
            <h1>
                Providing Electric Appliances
            </h1>
            <h2>To The Community</h2>
        </div>

        <img src="" alt="">
    </div>

    <div class="about">
        <!-- Section Header -->
        <h1 class="about-header">About Us</h1>

        <div class="about-content">
            <img src="" alt="">

            <div>
                <h2>Lorem ipsum</h2>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium iste minus ex veniam quam ab
                    expedita voluptatem vitae sint, molestias ipsam consequatur temporibus fuga natus vel? Nostrum
                    reprehenderit atque ab!
                </p>
            </div>
        </div>
    </div>

    <div class="featured">
        <h1 class="featured-header">Featured Products</h1>

        <!-- Using nth child to style in css -->


        <div class="product">
            <!-- Get name and image from db -->
            <h2 class="product-header">Lorem ipsum</h2>
            <img src="" alt="">

            <!-- Button will lead to product page by passing id on click -->
            <a href=""><button>See</button></a>
        </div>

        <div class="product">
            <!-- Get name and image from db -->
            <h2>Lorem ipsum</h2>
            <img src="" alt="">

            <!-- Button will lead to product page by passing id on click -->
            <a href=""><button>See</button></a>
        </div>

        <div class="product">
            <!-- Get name and image from db -->
            <h2>Lorem ipsum</h2>
            <img src="" alt="">

            <!-- Button will lead to product page by passing id on click -->
            <a href=""><button>See</button></a>
        </div>
    </div>


    <div class="booking">
        <h1 class="booking-header">Unsure What To Do</h1>

        <div class="booking-content">
            <h2>Book a Consultant</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, sequi necessitatibus. Explicabo omnis,
                quas quibusdam voluptatibus a soluta atque natus at nesciunt corporis cum adipisci, alias consectetur
                animi deleniti fugiat?
            </p>

            <a href=""><button>Book One Now</button></a>
        </div>

    </div>

    <div class="footer">
        <div>
            <h1>Rolsa Technology</h1>
        </div>
        <div>
            <p>Phone: +44 20 7947 6330</p>
            <p>Email: emailBusiness@Domain.com</p>
            <p>Post: Address</p>
            <div>
                <p>Socials</p>
                <!-- Add Social Icons  -->
                <a href=""><img src="" alt="Twitter Icon"></a>
                <a href=""><img src="" alt="Instagram Icon"></a>
                <a href=""><img src="" alt="Facebook Icon"></a>
            </div>
        </div>
    </div>
</body>

</html>