<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="../static/styles/products.css">
</head>

<body>
    <div class="navbar">
        <div class="logo">
            <h1>
                <a href="index.html">Rolsa Technology</a>
            </h1>
        </div>
        <div class="links">
            <a href="">Calculator</a>
            <a href="products.html">Products</a>
            <a href="booking.html">Bookings</a>
            <a href="">About</a>
            <a href=""><img src="{{url_for('static/images', filename='')}}" alt="Profile Icon"></a>
        </div>

    </div>

    <div class="product-about">
        <h1>Products</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem debitis sequi corrupti obcaecati? Vero
            vel voluptates natus laboriosam magni maxime animi. Animi esse ipsum voluptatibus. Id beatae iusto sed
            delectus.
        </p>
    </div>


    <div class="promoted-brands">
        <h1 class="promoted-header">Featured Brands</h1>

        <!-- Reused from index.html -->
        <!-- Using nth child to style in css -->

        <div class="Brands">
            <div class="brand">
                <!-- Get name and image from db -->
                <img src="" alt="brand logo">
                <h2 class="brand-header">Lorem ipsum</h2>

                <!-- Add filter on click-->
                <a href=""><button>See</button></a>
            </div>



            <div class="brand">
                <img src="" alt="brand logo">
                <h2>Lorem ipsum</h2>

                <a href=""><button>See</button></a>
            </div>



            <div class="brand">
                <img src="" alt="brand logo">
                <h2>Lorem ipsum</h2>

                <a href=""><button>See</button></a>
            </div>

        </div>
    </div>


    
    <div class="product-list">
        <!-- Non product stuff -->
        <div class="product-list-outside">
            <h2>Browse Products</h2>


            <!--search sort controls-->
            <div class="primary controls">

            </div>


            <!-- Brand and product filtering using checkboxes ect -->
            <div class="secondary controls">

            </div>
        </div>


        <!-- List of products will have overflow scroll -->
        <div class="product-list-list">
            <!-- Create a template of product list view to be reused -->
        </div>

    </div>



    <div class="footer">
        <div>
            <h1>Rolsa Technology</h1>
        </div>

        <div class="divider"></div>

        <div>
            <p>Phone: +44 20 7947 6330</p>
            <p>Email: emailBusiness@Domain.com</p>
            <p>Post: Address</p>
            <div>
                <p>Socials</p>
                <!-- Add Social Icons  -->
                <a href=""><img src="" alt="Twitter Icon"></a>
                <a href=""><img src="" alt="Instagram Icon"></a>
                <a href=""><img src="" alt="Facebook Icon"></a>
            </div>
        </div>
    </div>
</body>

</html>