<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="../static/styles/products.css">
</head>

<body>
    <div class="navbar">
        <div class="logo">
            <h1>
                <a href="{{ url_for('Index') }}">Rolsa Technology</a>
            </h1>
        </div>
        <div class="links">
            <a href="{{ url_for('Calculate') }}">Calculator</a>
            <a href="{{ url_for('Products') }}">Products</a>
            <a href="{{ url_for('Booking') }}">Bookings</a>
            <a href="">About</a>
            {% if session.user %}
            <a href="{{ url_for('Dashboard') }}">
                <img src="{{ url_for('static', filename='images/account_icon.png') }}" alt="Profile Icon">
            </a>
            {% else %}
            <a href="{{ url_for('Login') }}">
                Login
            </a>
            {% endif %}
        </div>

    </div>


    <div class="product-about">
        <h1>Products</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem debitis sequi corrupti obcaecati? Vero
            vel voluptates natus laboriosam magni maxime animi. Animi esse ipsum voluptatibus. Id beatae iusto sed
            delectus.
        </p>
    </div>


    <div class="promoted-brands">
        <h1 class="promoted-header">Featured Brands</h1>

        <!-- Reused from index.html -->
        <!-- Using nth child to style in css -->

        <div class="brands">
            <div class="brand">
                <!-- Get name and image from db -->
                <img src="" alt="brand logo">
                <h2 class="brand-header">Lorem ipsum</h2>

                <!-- Add filter on click-->
                <a href=""><button>See</button></a>
            </div>



            <div class="brand">
                <img src="" alt="brand logo">
                <h2>Lorem ipsum</h2>

                <a href=""><button>See</button></a>
            </div>



            <div class="brand">
                <img src="" alt="brand logo">
                <h2>Lorem ipsum</h2>

                <a href=""><button>See</button></a>
            </div>

        </div>
    </div>



    <div class="product-catalogue">
        <!-- Non product stuff -->
        <h1>Browse Products</h1>

        <!-- Use Grid Layout -->
        <div class="inner">
            <!--search sort controls-->
            <div class="primary controls">
                <div class="search-bar">
                    <h3>Search</h3>
                    <input type="search" name="search">
                </div>

                <div class="sort-dropdown">
                    <label for="sortby">Sort by:</label>
                    <select name="sortby">
                        <option value="">Featured</option>
                        <option value="">Cost-High to Low</option>
                        <option value="">Cost-Low to High</option>
                        <option value="">Rating</option>
                    </select>
                </div>

            </div>


            <!-- Brand and product filtering using checkboxes ect -->
            <div class="secondary controls">
                <form action="" method="POST">
                    <div class="price-range">
                        <h3>Price range</h3>
                        <div>
                            <label for="min-price">Min</label>
                            <input type="number" name="min-price" value="0">
                        </div>

                        <p>-</p>

                        <div>
                            <label for="max-price">Max</label>
                            <input type="number" name="max-price" value="0">
                        </div>
                    </div>


                    <div class="brand-select">
                        <h3>Brand(s)</h3>
                        <!-- Repeat based on how many brands -->
                        {% for row in products %}

                        <div>
                            <input type="checkbox" value="{{row[7]}}" name="brand">
                            <label for="brand">{{row[8]}}</label>
                        </div>

                        {% endfor %}

                    </div>

                    <button type="submit">Apply</button>
                    <button type="reset">Clear</button>
                </form>
            </div>


            <!-- List of products will have overflow scroll -->
            <div class="product-list">
                <!-- Create a template of product list view to be reused -->

                {% for row in filtered_products %}
                <div class="product">
                    <div class="thumbnail">
                        <img src="" alt="picture of product">
                        <h2>{{row[1]}}</h2>
                    </div>

                    <div class="details">
                        <div>
                            <p>tags: {{row[5]}}</p>
                            <p>brand: {{row[8]}}</p>
                        </div>
                        <div>
                            <h3>Price: {{row[2]}}</h3>
                            <button>View</button>
                        </div>
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>



    </div>



    <div class="footer">
        <div>
            <h1>Rolsa Technology</h1>
        </div>

        <div class="divider"></div>

        <div>
            <p>Phone: +44 20 7947 6330</p>
            <p>Email: emailBusiness@Domain.com</p>
            <p>Post: Address</p>
            <div>
                <p>Socials</p>
                <!-- Add Social Icons  -->
                <a href=""><img src="" alt="Twitter Icon"></a>
                <a href=""><img src="" alt="Instagram Icon"></a>
                <a href=""><img src="" alt="Facebook Icon"></a>
            </div>
        </div>
    </div>
</body>

</html>