<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="stylesheet" href="../static/styles/style.css">
    <link rel="stylesheet" href="../static/styles/products.css">
</head>

<body>
    <div class="navbar">
        <div class="logo">
            <h1>
                <a href="index.html">Rolsa Technology</a>
            </h1>
        </div>
        <div class="links">
            <a href="">Calculator</a>
            <a href="products.html">Products</a>
            <a href="booking.html">Bookings</a>
            <a href="">About</a>
            <a href=""><img src="{{url_for('static/images', filename='')}}" alt="Profile Icon"></a>
        </div>

    </div>

    <div class="footer">
        <div>
            <h1>Rolsa Technology</h1>
        </div>

        <div class="divider"></div>

        <div>
            <p>Phone: +44 20 7947 6330</p>
            <p>Email: emailBusiness@Domain.com</p>
            <p>Post: Address</p>
            <div>
                <p>Socials</p>
                <!-- Add Social Icons  -->
                <a href=""><img src="" alt="Twitter Icon"></a>
                <a href=""><img src="" alt="Instagram Icon"></a>
                <a href=""><img src="" alt="Facebook Icon"></a>
            </div>
        </div>
    </div>
</body>

</html>